<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>
<div class="container">
    <h2>Users</h2>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${{user.id}}">1</td>
            <td>
                <button class="btn btn-danger" th:onclick="|location.href='/user/${user.id}'|">Show</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
