<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:spring="http://java.sun.com/xml/ns/javaee">
<head>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header"/>

<div class="container">
    <h2>Add user</h2>

    <form th:action="@{/add}" method="post" th:object="${user}">
        <table class="table">
            <thead>
            <tr>
                <th>Name</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <input type="text" class="form-control" th:field="*{name}" placeholder="Enter name" required>
                </td>
                <td>
                    <button type="submit" class="btn btn-success">Add</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>

<div th:replace="fragments/footer :: footer"/>

</body>
</html>
